@import 'variables';

body {
  background: url($desktop-background) no-repeat center center fixed;
}

.desktop {
  position: absolute;
  top: 0;
  left: 0;

  .button {
    border: 1px solid transparent; /* TODO: Do I need this? */
    cursor: default;
    display: block;
    padding: 4px 8px 4px 8px;
    text-align: center;
    text-decoration: none; /* TODO: Do I need this? */
    margin-bottom: $desktop-button-spacing;

    &:first-child {
      margin-top: 5px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2);
    }

    .icon {
      height: $desktop-button-icon-size;
      width: $desktop-button-icon-size;
    }

    .text {
      display: block;
      text-align: center;
      color: $desktop-button-text-color;
      font-size: $desktop-button-text-font-size;
    }
  }
}
