html, body{ 
  height: 100%;
  margin: 0;
  padding: 0; 
}

body {
	background: url(../img/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: Consolas, 'Courier New', monospace;
	font-size: 90%;

	height: 100%;
	overflow: hidden;

	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.wm-space {
	user-select: none;
}

.buttonbar {
	position: absolute;
	top: 0;
	left: 0;
}

.wm-window header {
	height: 28px !important;
	min-height: 28px !important;
}

.wm-window h1 {
	font-size: 14px !important;
}
