/* TODO: Use a Combination of Percent and Em */
body {
  background: url("../img/bg.jpg") no-repeat center center fixed;
  font-family: Consolas, "Courier New", monospace;
  font-size: 90%; }

.desktop-buttons {
  position: absolute;
  top: 0;
  left: 0; }
  .desktop-buttons .desktop-button {
    border: 1px solid transparent;
    cursor: default;
    display: block;
    margin-bottom: 25px;
    padding: 4px 8px 4px 8px;
    text-align: center;
    text-decoration: none; }
    .desktop-buttons .desktop-button:first-child {
      margin-top: 5px; }
    .desktop-buttons .desktop-button:hover {
      background-color: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.2); }
    .desktop-buttons .desktop-button .desktop-button-icon {
      height: 48px;
      width: 48px; }
    .desktop-buttons .desktop-button .desktop-button-text {
      display: block;
      color: white;
      font-size: 11px;
      text-align: center; }

/* TODO: Use a Combination of Percent and Em */
.taskbar .taskbar-buttons .taskbar-button, .taskbar .taskbar-tray .clock {
  cursor: pointer;
  display: table-cell;
  height: 30px; }
  .taskbar .taskbar-buttons .taskbar-button:hover, .taskbar .taskbar-tray .clock:hover {
    background-color: rgba(255, 255, 255, 0.1); }

.taskbar .taskbar-buttons #start .taskbar-button-icon, .taskbar .taskbar-buttons #task-view .taskbar-button-icon {
  padding: 5px 10px 5px 10px;
  fill: #FFFFFF;
  /* TODO: Fix opacity */ }

.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: #080808;
  opacity: 0.875;
  /* Buttons */
  /* Tray */ }
  .taskbar .taskbar-buttons {
    display: inline-block;
    /* Start */
    /* Task View */ }
    .taskbar .taskbar-buttons #start:hover .taskbar-button-icon {
      fill: #429CE3; }
    .taskbar .taskbar-buttons #start .taskbar-button-icon {
      height: 19px;
      width: 19px; }
    .taskbar .taskbar-buttons #task-view .taskbar-button-icon {
      height: 20px;
      width: 20px; }
  .taskbar .taskbar-tray {
    float: right;
    /* Clock */ }
    .taskbar .taskbar-tray .clock {
      width: 70px; }
      .taskbar .taskbar-tray .clock #time {
        display: block;
        text-align: center;
        margin: 8px 4px 0 4px;
        font-size: 11.5px;
        color: #FFFFFF; }

.wm-window h1 {
  font-size: 14px !important; }

.wm-window header {
  height: 28px !important;
  min-height: 28px !important; }

.wm-space {
  user-select: none; }

body, html {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; }
