@import 'desktop';
@import 'taskbar';
@import 'windows';

/* TODO
  - Startup apps
  - Windows like W10
  - Terminal (https://codepen.io/Guilome/pen/myZaxK)
  - Copy more (https://codepen.io/Guilome/pen/bKbMQW)
*/

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  font-family: $font;
  font-size: $font-size;
}
