@import 'variables';

/* TODO
  - Better clock font
*/

%taskbar-element-attributes {
  cursor: pointer;
  display: table-cell;
  height: $taskbar-height;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

%taskbar-button-icon-attributes {
  padding: 5px 10px 5px 10px;
  fill: $taskbar-element-color;
}

@mixin taskbar-button-icon-dimensions($height: 20px, $width: 20px) {
  height: $height;
  width: $width;
}

.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: $taskbar-height;
  background-color: $taskbar-background-color;
  opacity: $taskbar-opacity;
  z-index: 10001;

  /* Buttons */
  .buttons {
    display: inline-block;

    .button {
      @extend %taskbar-element-attributes;
    }

    /* Start */
    #start {
      &:hover .icon {
        fill: $taskbar-buttons-start-hover-color;
      }

      .icon {
        @extend %taskbar-button-icon-attributes;
        @include taskbar-button-icon-dimensions(19px, 19px);
      }
    }

    /* Task View */
    #task-view {
      .icon {
        @extend %taskbar-button-icon-attributes;
        @include taskbar-button-icon-dimensions();
      }
    }
  }

  /* Tray */
  .tray {
    float: right;

    /* Clock */
    .clock {
      @extend %taskbar-element-attributes;

      width: $taskbar-tray-clock-width;

      #time {
        display: block;
        text-align: center;
        margin: 8px 4px 0 4px;
        font-size: $taskbar-font-size;
        color: $taskbar-element-color;
      }
    }
  }
}
