@import 'variables';

/* TODO
  - Blur behind taskbar opacity
*/

%taskbar-element-attributes {
  cursor: pointer;
  display: table-cell;
  height: $taskbar-height;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

%taskbar-button-icon-attributes {
  .icon {
    height: 20px;
    width: 20px;
    padding: 5px 8px 5px 8px;
    fill: $taskbar-element-color;
  }
}

.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: $taskbar-background-color;
  opacity: $taskbar-opacity;
  z-index: 10001;

  /* Buttons */
  .buttons {
    display: inline-block;

    .button {
      @extend %taskbar-element-attributes;
    }

    /* Start */
    #start {
      @extend %taskbar-button-icon-attributes;

      &:hover .icon {
        fill: $taskbar-buttons-start-hover-color;
      }

      .icon {
        height: 18px;
        width: 18px;
      }
    }

    /* Task View */
    #task-view {
      @extend %taskbar-button-icon-attributes;

      &:hover .icon {
        transform: scale(1.2,1);
      }
    }
  }

  /* Tray */
  .tray {
    float: right;

    /* Clock */
    .clock {
      @extend %taskbar-element-attributes;

      width: 90px;

      #time {
        display: block;
        text-align: center;
        margin: 8px 4px 0 4px;
        font-size: $taskbar-font-size;
        color: $taskbar-element-color;
      }
    }
  }
}
