$font: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 90%;

$desktop-button-icon-size: 48px;
$desktop-button-text-color: #FFFFFF;
$desktop-button-text-font-size: 11.5px;

$taskbar-background-color: #080808;
$taskbar-element-color: #FFFFFF;
$taskbar-height: 30px;
$taskbar-opacity: 0.875;
$taskbar-font-size: 11.5px;
$taskbar-buttons-start-hover-color: #429CE3;
