$font: Consolas, 'Courier New', monospace;
$font-size: 90%;

$desktop-background: "../img/bg.jpg";

$desktop-button-icon-size: 48px;
$desktop-button-spacing: 25px;
$desktop-button-text-color: white;
$desktop-button-text-font-size: 11px;

$taskbar-background-color: #080808;
$taskbar-element-color: #FFFFFF;
$taskbar-opacity: 0.875;
$taskbar-height: 30px;
$taskbar-font-size: 11.5px;
$taskbar-buttons-start-hover-color: #429CE3;
$taskbar-tray-clock-width: 90px;
